
* {
  box-sizing: border-box;
}

/* scrollbars */

@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
  border: 3px solid transparent; 
  background-clip: content-box; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #787878;
}

::-webkit-scrollbar-button {
  display: none;
}
