@import url(./global.css);

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    color: white;

    overflow-x: hidden;
    transition: 0.2s ease
}

/* Toasts */

#toast-wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 20px;
    right: 20px;
    gap: 10px;
    z-index: 9001;
}

.toast {
    font-size: 1.25rem;

    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

    opacity: 0;
    transform: translateX(-20px);
    transition: 0.3s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.green {
    background-color: #4bcf56;
    border: 3px solid #4bac53;
}

.toast.red {
    background-color: #d44a4a;
    border: 3px solid #ac4a4a;
}

.toast.blue {
    background-color: #4aa1d4;
    border: 3px solid #4a75ac;
}

/* Bootstrap */

#alert-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

/*  */
/* Top Bar */
/*  */

.top-bar {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100px;
    width: 100%;
    background: linear-gradient(135deg, #684162, #372f5a);
    background-repeat: no-repeat;
    ;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

/*  */
/* Main Area */
/*  */

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;

    align-items: center;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(#b18398, #33263b);
    background-repeat: no-repeat;
}

.over-section {
    height: 300px;
    width: 80%;
}

/* Search Section */

.center-bar {
    display: flex;
    align-items: center;
    width: 90%;
    height: calc(1.5rem + 30px);
    background-color: #5f5863;

    font-size: 1.5rem;

    border: 3px solid #3f3f3f;
    border-radius: 25px;

    overflow: hidden;
}

#method {
    display: flex;
    align-items: center;
    background-color: #514757;

    width: 200px;
    height: 100%;

    color: inherit;
    font-weight: bold;
    font-size: inherit;

    border: none;
    border-right: 3px solid #3f3f3f;
    padding-left: 15px;

    font-weight: bold;
    user-select: none;
    transition: 0.2s ease;
}

#method:hover,
#method:focus {
    background-color: #433947;
    outline: none;
    cursor: pointer;
}

#search {
    flex: 1;

    background: none;
    border: none;
    font-size: inherit;
    color: inherit;

    padding: 15px;
    width: 100%;
    height: 100%;
    
    transition: 0.2s ease;
}

#search:hover,
#search:focus {
    background-color: #655c69;
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: #ffffffaa;
}

#go {
    background-color: #508a55;

    width: 150px;
    height: 100%;
    padding: 15px;

    color: inherit;
    font-weight: bold;
    font-size: inherit;

    border: none;
    border-left: 3px solid #3f3f3f;

    user-select: none;
    transition: 0.2s ease;
}

#go:hover,
#go:focus {
    background-color: #74c47b;
    outline: none;
}

/* Options Section */

.options-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 90%;

    background-color: #3f3f3f;
    border-radius: 25px;
}

.options-box > div {
    padding: 15px 30px;
}

.option-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.option {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.option-field {
    flex: 1;
    min-width: 0;
    font-size: 1.25rem;
    background-color: #222222;
    color: white;
    padding: 10px;

    border: 1px solid #636363;
    border-radius: 5px;
}

.option-text {
    font-size: 1.25rem;
    padding: 10px;
}

.option-button {
    height: 50px;
    aspect-ratio: 1/1;
    background-color: #00000000;

    color: white;
    font-size: 1.5em;

    border: 1px solid #636363;
    border-radius: 10px;
}

.option-button:hover {
    background-color: #636363;
}

.option-delete {
    transition: 0.2s ease;
}

.option-delete:hover {
    background-color: #ff3535aa;
}

#body {
    width: 100%;
    height: 500px;

    font-size: 1.25rem;
    font-family: monospace;
    background-color: #222222;
    color: white;
    padding: 10px;

    border: 1px solid #636363;
    border-radius: 5px;

    resize: none;
    overflow-y: scroll;
}

.gap {
    min-height: 10px;
}

/* Response Section */

.response-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-height: 100vh;
    padding: 25px;

    background-color: #514757;
    border-radius: 25px;

    transition: 0.5s ease;
}

.response-box.closed {
    display: none;
    height: 0;
}

.response-box.open {
    display: flex;
    height: auto;
}

#response {
    flex: 1;
    field-sizing: content;
    min-height: 0;
    width: 100%;
    word-wrap: break-word;

    font-size: 1.25rem;
    font-family: monospace;
    background-color: #222222;
    color: white;
    padding: 10px;

    background-color: #433947;
    border: 1px solid #636363;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    resize: none;
    overflow-y: auto;
}

.inline-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#copy-response {
    height: fit-content;
    padding: 10px;

    font-weight: bold;
    font-size: 1.25rem;
    color: white;

    background-color: #5f5863;

    border: 1px solid #636363;
    border-radius: 10px;
}

#copy-response:hover {
    background-color: #655c69;
}

#copy-response:active {
    background-color: #514757;
}

.response-info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;

    border: 1px solid #636363;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #222222;

    font-family: monospace;
    font-size: 1.25rem;
}

#status {
    font-weight: bold;
}

.status-green {
    color: #4bcf56;
}

.status-red {
    color: #d44a4a;
}

#pagination {
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

#pagination.closed {
    display: none;
}

#pagination.open {
    display: flex;
}

.footer {
    background-color: #00000055;
    padding: 50px 0;
    width: 100%;

    text-align: center;
}

/* Media Queries  */

@media (max-width: 1600px) {
    .options-box {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .options-box > :nth-child(3) {
        grid-column: span 2; 
    }
}

@media (max-width: 1000px) {

    .center-bar {
        width: 100%;
    }

    .options-box {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .options-box > :nth-child(3) {
        grid-column: span 1; 
    }

    .response-box {
        width: 100%;
    }
}
